<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block css %} {% endblock %}
    </head>
    
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <main>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success">
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endwith %}
                
                {% block main %} {% endblock %}
            </div>
        </main>
    </body>
</html>